@import '../../Scss/Variables';

#NethavenLogo {
  #Logo {
    @keyframes logo-animation {
      from { transform: translateY(0px) }
      to { transform: translateY(-2px) }
    }
  
    #rightVector { animation: logo-animation 1.5s ease-in-out 0.3s infinite alternate-reverse; }
    #leftVector { animation: logo-animation 1.5s ease-in-out 0s infinite alternate;  }
  }
  #Title {
    @for $i from 1 through 10 {
      path:nth-child(#{$i}) {
        @keyframes title-animation {
          0% { fill: black; }
          98% { fill: black; }
          99% { fill: $special-secondary; }
          100% { fill: black; }
        }

        // Give it 2ms per letter for a smooth animation (basically double the duration and turn it to ms)
        animation: title-animation 13s #{$i*26}ms ease-in-out infinite; 
      }
    }
  }
}