@import '../../Scss/Variables';
@import '../../Scss/Mixins';

#vacanciesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 3rem;

  .vacanciesHeading {
    color: $text-secondary;
    font-weight: 500;
    margin-bottom: 5rem;
    max-width: 60rem;
  }

  .openVacanciesHeading {
    font-weight: 800;
    margin-bottom: 3rem;
  }

  ul {
    li {
      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }

      a {
        display: flex;
        @include button-hovered;
        justify-content: center;
        align-items: flex-start;
        padding: 12px 10px;
        min-width: 30rem;

        h5 {
          font-weight: 800 !important;
          @include paragraph;
          margin: 0;
        }

        span {
          margin: 0 0.5rem 0 auto;
          @include input;
          line-height: 12px;
        }

        @media #{$mobile-down} {
          min-width: 15rem;
          flex-direction: column;

          span {
            margin: 0;
          }
        }
      }
    }
  }
}