@import '../../Scss/Mixins';
@import '../../Scss/Variables';

.homeContainer {
  img {
    width: 100%;
  }

  .homeHero {
    .heroWrapper {
      background: $background-secondary;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 150px 0px 100px 0px;
      z-index: $index-low;

      h3 {
        color: $text-secondary;
      }

      .tabletDown {
        display: none;
        @media #{$mobile-down} { display: block; }
      }

      h1, h3 {
        @media #{$mobile-down} { padding-left: 2rem; padding-right: 2rem; }
      }

      .heroImages {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          position: absolute;
        }

        #heroTopImg {
          animation: hover-cardspec 2s infinite ease-in-out alternate;
        }

        @media #{$tablet-down} {
          display: none;
        }
      }

      @media #{$normal} {
        @for $i from 1 through 15 {
          div:nth-child(#{$i}) {
            @include drop-in-animation(0.5 + $i * 0.1s);
          }
        }
      }
    }

    #mixedWaveSeperator {
      width: 100%;
    }
  }

  .homeOfferings {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;

    .offeringsWrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 2rem;

      @media #{$tablet-down} {
        flex-direction: column;
      }

      span {
        max-width: 20rem;
        padding: 1rem;

        @media #{$tablet-down} {
          max-width: 80%;
        }

        img {
          width: 80%;

          @media #{$tablet-down} {
            max-width: 10rem;
          }
        }
      }
    }

    a {
      @include button-hovered;
      padding: 12px 100px !important;
      background-color: $background;
    }
  }
}